.formWrapper {
	width: 100%;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-end;
}

.signUpForm {
	display: flex;
	flex-direction: column;
	gap: 25px;
	width: 100%;
}

.passWrapper {
	position: relative;
}

.eye {
	position: absolute;
	right: 10px;
	top: 50%;
	cursor: pointer;
	font-size: 14px;
}